<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<label for="filename">
    <f:translate key="tx_datamintslocallangbuilder_domain_model_locallang.filename"/>
    <span class="required">(required)</span>
</label><br/>
<f:form.textfield id="filename" property="filename"/>
<br/>
<label for="path">
    <f:translate key="tx_datamintslocallangbuilder_domain_model_locallang.path"/>
    <span class="required">(required)</span>
</label><br/>
<f:form.textfield id="path" property="path"/>
<br/>
</html>
