<div flux:schemaLocation="http://fluidtypo3.org/schemas/flux-7.0.0.xsd" lang="en" v:schemaLocation="http://fluidtypo3.org/schemas/vhs-1.8.5.xsd"
     xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
    <f:layout name="BackendModule"/>
    <f:section name="Main">
        <p>
            Please include the "datamints Locallang Builder" static template. See <a href="https://docs.typo3.org/m/typo3/reference-typoscript/master/en-us/UsingSetting/Entering.html#include-typoscript-from-extensions" target="_blank">https://docs.typo3.org/m/typo3/reference-typoscript/master/en-us/UsingSetting/Entering.html#include-typoscript-from-extensions</a>.
        </p>
        <p>
            For additional knowledge see <a href="https://github.com/datamintsGmbH/datamints_locallang_builder/blob/master/Documentation/Configuration/Index.rst" target="_blank">https://github.com/datamintsGmbH/datamints_locallang_builder/blob/master/Documentation/Configuration/Index.rst</a>
        </p>
    </f:section>


</div>
