<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="name">
	<f:translate key="tx_locallangbuilder_domain_model_extension.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" id="name" /><br />
<label for="path">
	<f:translate key="tx_locallangbuilder_domain_model_extension.path" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="path" id="path" /><br />
</html>