<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="Default"/>

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Backend:
Templates:
Translation:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Translation</h1>

    <f:flashMessages/>

    <table class="tx_datamintslocallangbuilder">
        <tr>
            <th>
                <f:translate key="tx_datamintslocallangbuilder_domain_model_translation.translation_key"/>
            </th>
            <th>
                <f:translate key="tx_datamintslocallangbuilder_domain_model_translation.translation_value"/>
            </th>
            <th></th>
            <th></th>
        </tr>

        <f:for as="translation" each="{translations}">
            <tr>
                <td>
                    <f:link.action action="show" arguments="{translation : translation}"> {translation.translationKey}</f:link.action>
                </td>
                <td>
                    <f:link.action action="show" arguments="{translation : translation}"> {translation.translationValue}</f:link.action>
                </td>
                <td>
                    <f:link.action action="edit" arguments="{translation : translation}">Edit</f:link.action>
                </td>
                <td>
                    <f:link.action action="delete" arguments="{translation : translation}">Delete</f:link.action>
                </td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New Translation</f:link.action>
</f:section>
</html>
