<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="translationKey">
	<f:translate key="tx_locallangbuilder_domain_model_translation.translation_key" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="translationKey" id="translationKey" /><br />
<label for="translationValue">
	<f:translate key="tx_locallangbuilder_domain_model_translation.translation_value" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="translationValue" id="translationValue" cols="40" rows="15" /><br />
</html>