<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<label for="translationKey">
    <f:translate key="tx_datamintslocallangbuilder_domain_model_translation.translation_key"/>
    <span class="required">(required)</span>
</label><br/>
<f:form.textfield id="translationKey" property="translationKey"/>
<br/>
<label for="translationValue">
    <f:translate key="tx_datamintslocallangbuilder_domain_model_translation.translation_value"/>
    <span class="required">(required)</span>
</label><br/>
<f:form.textarea id="translationValue" cols="40" property="translationValue" rows="15"/>
<br/>
</html>
