<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<table class="tx-locallang-builder">
    <tr>
        <td>
            <f:translate key="tx_datamintslocallangbuilder_domain_model_translation.translation_key"/>
        </td>
        <td>
            {translation.translationKey}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_datamintslocallangbuilder_domain_model_translation.translation_value"/>
        </td>
        <td>
            {translation.translationValue}
        </td>
    </tr>
</table>
</html>
