$primary: #7B1FA2;
$primary-dark: #3c194b;
$background-color:#172b4d;
$font-weight-bold:800;
$gray-200: #e9ecef;
$dark: $gray-200;
$green: #82b98f;
$success-dark: #3f724b;
$theme-colors: ("primary-dark": $primary-dark,"success-dark": $success-dark);
$alert-border-level: 3;
$enable-shadows: true;
$bv-enable-popover-variants: true; 